<body>
    <header class="main-header">
        <ul>
            <li><a href="/users" class="main-ref <%= path=== '/users'? 'active': ''%>">Users</a></li>
            <li><a href="/add-user" class="main-ref <%= path=== '/add-user'? 'active': ''%>">Add User</a></li>
            <li><a href="/" class="main-ref <%= path=== '/' ? 'active': ''%>">Main page</a></li>
        </ul>
    </header>
    <h1 class="showing-text">Hello , there is nothing there on this page yet</h1>
</body>
<html>