include includes/main-lay.pug

block styles 
    link(rel="stylesheet", href="/css/form.css")

block content
    form.main-form(action="/add-user", method="post")
        label(for="idU") User id
        input(type="text", name="idUser", id="idU")
        label(for="nameU") User name
        input(type="text", name="nameUser", id="nameU")
        button.submit(type="submit") Submit